@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Sistema de Información de países</h1>
        <p class="lead">La siguiente aplicación permite administrar un sistema de información de países, donde el usuario podrá ver los diferentes países que tiene la base de datos y también ver los departamentos y ciudades de cada país.</p>
        <p><a href="~/Pais/Index" class="btn btn-primary btn-lg">Ver países &raquo;</a></p>
        <p class="lead">A su vez también se podrán administrar los diferentes usuarios registrados en el sistema.</p>
        <p><a href="~/Usuarios/Index" class="btn btn-primary btn-lg">Ver usuarios &raquo;</a></p>

    </div>